<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Book",
  "@id": "{{ site.url }}/magento-2-cookbook/#book",
  "name": "Magento 2 Cookbook",
  "isbn": "9781785887062",
  "numberOfPages": 342,
  "bookFormat": "https://schema.org/Paperback",
  "inLanguage": "en",
  "datePublished": "2016",
  "url": "{{ site.url }}/magento-2-cookbook/",
  "image": "{{ '/assets/images/mage2cookbook/magento2cookbook.jpg' | absolute_url }}",
  "description": "342 pages and 50 in-depth Magento 2 recipes covering installation, configuration, performance, security and extension development.",
  "author": [
    { "@id": "{{ site.url }}/#person" },
    { "@type": "Person", "name": "Vladimir Kerkhoff" }
  ],
  "publisher": {
    "@type": "Organization",
    "name": "Packt Publishing",
    "url": "https://www.packtpub.com"
  }
}
</script>
